@font-face {
  font-family: 'English';
  src: url('./img/fonts/Onest-Medium.ttf');
}

@font-face {
  font-family: 'Georgian';
  src: url('./img/fonts/bpg_nino_mtavruli_bold.ttf');
}

.App {
  display: flex;
  flex-direction: column;
  font-family: 'Georgian';

  header,
  footer {
    height: 10dvh;
  }

  .site {
    min-height: 80dvh;
    background-color: darkslategrey;
  }
}